{{/* JSON-LD structured data for SEO */}}
{{ $siteTitle := .Site.Title }}
{{ $authorName := .Site.Params.author.name | default .Site.Author.name }}
{{ $baseURL := .Site.BaseURL }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": {{ $baseURL }},
  "name": {{ $siteTitle }},
  "description": {{ .Site.Params.description | default "" }}{{ if .Site.Params.enableSearch }},
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ $baseURL }}search/?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }{{ end }}
}
</script>

{{ if eq .Kind "page" }}
{{ $description := .Params.description | default .Summary | default $siteTitle }}
{{ $image := .Params.featuredImage | default .Params.images | default .Site.Params.defaultSocialImage }}
{{ $datePublished := .PublishDate.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateModified := .Lastmod.Format "2006-01-02T15:04:05-07:00" }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title }},
  "description": {{ $description | plainify | truncate 160 }},
  "url": {{ .Permalink }},
  "datePublished": {{ $datePublished }},
  "dateModified": {{ $dateModified }},
  "author": {
    "@type": "Person",
    "name": {{ $authorName }}
  }{{ if $image }},
  "image": {{ if hasPrefix (printf "%s" $image) "http" }}{{ $image }}{{ else }}{{ $baseURL }}{{ strings.TrimPrefix "/" $image }}{{ end }}{{ end }}
}
</script>
{{ end }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ $authorName }},
  "url": {{ $baseURL }}
}
</script>
